/** {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}*/

nav {
    background-color: var(--nav-tema);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logomenu{
    display: flex;
    gap: 50px;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style-type: none;
    text-decoration: none;
    color: var(--text-color);
    align-items: center;
}

.links{
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

:root {
    --bg-color: rgb(225, 225, 225);
    --text-color: white;
    --colorArticle: white;
    --nav-tema: rgb(41, 41, 180);
    --texto-article: black;
}

.dark-mode {
    --bg-color: rgb(137, 137, 137);
    --text-color: black;
    --colorArticle: rgb(186, 186, 186);
    --nav-tema: rgb(9, 9, 139);
    --texto-article: rgb(255, 255, 255);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
}


/*botão tema */
.botao input{
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.botao {
    border-radius: 20px;
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
    background-color: #514f4f;
    border: 2.5px solid black;
}

.slider {
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px;
    /*transform: scale(0.8);*/
    position: absolute;
    top: 3.5px;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
  }

input:checked + .slider::before {
    transform: translateX(26px);
}
/*restante*/
.secaoTema{
    display: flex;
    align-items: center;
}

footer{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: var(--footer);
    width: 100%;
    background-color: rgb(83, 81, 81);
}

footer p {
    color: black;
}

.artigoFooter{
    margin: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.artigoFooterDois{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

body{
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
}

.mainPrincipal{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.article1{
    background-color: var(--colorArticle);
    color: black;
    border-radius: 5px;
    padding: 5px;
}

.secaoSobre{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.articleSobre{
    display:flex;
    flex-direction: column;
    width: 80%;
    background-color: var(--colorArticle);
    border-radius: 15px;
    padding: 5px;
}

.mainSobre{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}

.articleSobre p{
    color: black;
}

.imagem{
    width:80px;
    height: 80px
}

@media (max-width: 768px) {
    .article1{
        width: 80%;
    }
    
    .imagem{
        width: 45px;
        height: 45px;
    }
    .logomenu{
        display: flex;
        align-items: center
    }
}

@media (max-width: 450px){
    .links{
        font-weight: 15px;
    }
    .logomenu{
        gap: 10px;
    }
    .botao {
        border-radius: 10px;
        width: 30px;
        height: 18px;
        border: 2.5px solid black;
    }
    
    .slider {
        height: 15px;
        width: 15px;
    }
    
    .slider::before {
        height: 13px;
        width: 13px;
      }
    
    input:checked + .slider::before {
        transform: translateX(13px);
    }
    
}

@media (max-width: 365px) {
    .logomenu{
        gap: 0;
    }
    ul{
        padding-left: 5px;
    }
}